## Introducing Pandas Objects

At the very basic level, Pandas objects can be thought of as enhanced versions of NumPy structured arrays in which the rows and columns are identified with labels rather than simple integer indices. As we will see during the course of this module, Pandas provides a host of useful tools, methods, and functionality on top of the basic data structures, but nearly everything that follows will require an understanding of what these structures are. Thus, before we go any further, let's introduce these 3 fundamental Pandas data structures: the `Series`, `DataFrame`, and `Index`.

We will start our code sessions with the standard NumPy and Pandas imports:

In [2]:
import numpy as np
import pandas as pd

### The Pandas `Series` Object

A Pandas `Series` is a 1-dimensional array of indexed data. It can be created from a list or array:

In [3]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

As we see in the output, the `Series` wraps both a sequence of values and a sequence of indices, which we can access with the `values` and `index` attributes. The `values` are simply a familiar NumPy array:

In [4]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

The `index` is an array-like object of type `pd.Index`, which we'll discuss in more detail momentarily:

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

Like with a NumPy array, data can be accessed by the associated index via the familiar Python square-bracket notation:

In [6]:
data[2]

0.75

In [7]:
data[1:3]

1    0.50
2    0.75
dtype: float64

As we will see, though, the Pandas `Series` is much more general and flexible than the 1-dimensional NumPy array that it emulates.

### `Series` as a Generalized NumPy Array

From what we've seen so far, it may look like the `Series` object is basically interchangeable with a 1-dimensional NumPy array. The essential difference is the presence of the index: while the NumPy `array` has an *implicitly defined* integer index used to access the values, the Pandas `Series` has an *explicitly defined* index associated with the values.

This explicit index definition gives the `Series` object additional capabilities. For example, the index does not need to be an integer, but can consist of values of any desired type. If we wish, we can use strings as an index:

In [9]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

And the item access works as expected:

In [10]:
data['b']

0.5

We can even use non-contiguous or non-sequential indices:

In [11]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [12]:
data[5]

0.5

### `Series` as a Specialized Dictionary

In this way, you can think of a Pandas `Series` a bit like a specialization of a Python dictionary. A dictionary is a structure that maps arbitrary keys to a set of arbitrary values, and a `Series` is a structure which maps typed keys to a set of typed values. This typing is important: just as the type-specific compiled code behind a Numpy `array` makes it more efficient than a Python list for certain operations, the type information of a Pandas `Series` makes it much more efficient than Python dictionaries for certain operations.

The `Series`-as-dictionary analogy can be made even more clear by constructing a `Series` object directly from a Python dictionary:

In [13]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

By default, a `Series` will be created where the index is drawn from the sorted keys. From here, typical dictionary-style item access can be performed:

In [14]:
population['New York']

19651127

Unlike a dictionary, though, the `Series` also supports array-style operations such as slicing:

In [15]:
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

### Constructing `Series` Objects

We've already seen a few ways of constructing a Pandas `Series` from scratch; all of them are some version of the following:

`pd.Series(data, index=index)`

where `index` is an optional argument and `data` can be one of many entities.

For example, `data` can be a list or NumPy array, in which case `index` defaults to an integer sequence:

In [16]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

`data` can be a scalar, which is repeated to fill the specified index:

In [17]:
b = pd.Series(700, index=[100, 200, 300])
b

100    700
200    700
300    700
dtype: int64

In [18]:
nothing = pd.Series([5, 5, 5],
                   index=[100, 200, 300])
nothing

100    5
200    5
300    5
dtype: int64

In [19]:
e = pd.Series([5])
e

0    5
dtype: int64

`data` can be a dictionary in which `index` defaults to the sorted dictionary keys:

In [20]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In each case, the index can be explicitly set if a different result is preferred:

In [21]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

Notice that in this case, the `Series` is populated only with the explicitly identified keys.

### The Pandas `DataFrame` Object

The next fundamental structure in Pandas is the `DataFrame`. Like the `Series` object discussed in the previous section, the `DataFrame` can be thought of either as a generalization of a NumPy array, or as a specialization of a Python dictionary. We'll now take a look at each of these perspectives.

### `DataFrame` as a Generalized NumPy Array

If a `Series` is an analog of a 1-dimensional array with flexible indices, a `DataFrame` is an analog of a 2-dimensional array with both flexible row indices and flexible column names. Just as you might think of a 2-dimensional array as an ordered sequence of aligned 1-dimensional columns, you can think of a `DataFrame` as a sequence of aligned `Series` objects. Here, by "aligned", we mean that they share the same index.

To demonstrate this, let's first construct a new `Series` listing the area of each of the five states discussed in the previous section:

In [22]:
area_dict = {'California': 423967,
             'Texas': 695662, 
             'New York': 141297,
             'Florida': 170312, 
             'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

Now that we have this along with the `population` `Series` from before, we can use a dictionary to construct a single 2-dimensional object containing this information:

In [23]:
states = pd.DataFrame({'population':population,
                       'area':area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

Like the `Series` object, the `DataFrame` has an `index` attribute that gives access to the index labels:

In [24]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

Additionally, the `DataFrame` has a `columns` attribute, which is an `Index` object holding the column labels:

In [25]:
states.columns

Index(['population', 'area'], dtype='object')

Thus, the `DataFrame` can be thought of as a generalization of a 2-dimensional NumPy array, where both the rows and columns have a generalized index for accessing the data.

### `DataFrame` as a Specialized Dictionary

Similarly, we can also think of a `DataFrame` as a specialization of a dictionary. Where a dictionary maps a key to a value, a `DataFrame` maps a column name to a `Series` of column data. For example, asking for the `'area'` attribute returns the `Series` object containing the areas we saw earlier:

In [26]:
states.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

Additionally, we can access attributes utilizing the square-bracket notation we are familiar with:

In [27]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

Notice the potential point of confusion here: in a 2-dimensional NumPy array, `data[0]` will return the first *row*. For a `DataFrame`, `data['col0']` will return the first *column*. Because of this, it is probably better to think about `DataFrame`s as specialized dictionaries rather than generalized arrays, though both ways of looking at the situation can be useful.

### Constructing `DataFrame` Objects

A Pandas `DataFrame` can be constructed in a variety of ways. Here, we'll give several examples.

#### From a Single `Series` Object

A `DataFrame` is a collection of `Series` objects, and a single-column `DataFrame` can be constructed from a single `Series`:

In [28]:
pd.DataFrame(population, columns=['State Population'])

            State Population
California          38332521
Texas               26448193
New York            19651127
Florida             19552860
Illinois            12882135

#### From a List of Dictionaries

Any list of dictionaries can be made into a `DataFrame`. We'll use a simple list comprehension to create some data:

In [47]:
data = [{'a':i, 'b':2*i} for i in range(3)]
data

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

In [50]:
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

Even if some keys in the dictionary are missing, Pandas will fill them in with `NaN` (i.e., "not a number") values:

In [30]:
pd.DataFrame([{'a':1, 'b':2}, {'b':3, 'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

#### From a Dictionary of `Series` Objects

As we saw before, a `DataFrame` can be constructed from a dictionary of `Series` objects as well:

In [31]:
pd.DataFrame({'State Population':population,
              'State Area':area})

            State Population  State Area
California          38332521      423967
Texas               26448193      695662
New York            19651127      141297
Florida             19552860      170312
Illinois            12882135      149995

#### From a 2-Dimensional NumPy Array

Given a 2-dimensional array of data, we can create a `DataFrame` with any specified column and index names. If omitted, an integer index will be used for each:

In [32]:
pd.DataFrame(np.random.rand(3, 2),
            columns=['foo', 'bar'],
            index=['a', 'b', 'c'])

        foo       bar
a  0.087703  0.480983
b  0.284475  0.331790
c  0.169760  0.557904

#### From a NumPy Structured Array

A Pandas `DataFrame` operates much like a structured array and can be created directly from one:

In [33]:
A = np.zeros(3, dtype=[('A','i8'), ('B','f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [34]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

### The Pandas `Index` Object

We have seen here that both the `Series` and `DataFrame` objects contain an explicit *index* that lets you reference and modify data. This `Index` object is an interesting structure in itself, and it can be thought of either as an *immutable array* or as an *ordered set* (technically a multi-set, as `Index` objects may contain repeated values). Those views have some interesting consequences in the operations available on `Index` objects. As a simple example, let's construct an `Index` from a list of integers:

In [35]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

### Index as an Immutable Array

The `Index` in may ways operates like an array. For example, we can use standard Python indexing notation to retrieve values or slices:

In [36]:
ind[1]

3

In [37]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

`Index` objects also have many of the attributes familiar from NumPy arrays:

In [38]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

One difference between `Index` objects and NumPy arrays is that indices are immutable - that is, they cannot be modified via the normal means:

In [39]:
ind[1] = 0

TypeError: Index does not support mutable operations

This immutability makes it safer to share indices between multiple `DataFrame`s and arrays without the potential for side effects from inadvertent index modification.

### `Index` as an Ordered Set

Pandas objects are designed to facilitate operations such as joins across datasets, which depend on many aspects of set arithmetic. The `Index` object follows many of the conventions used by Python's built-in `set` data structure, so that unions, intersections, differences, and other combinations can be computed in a familiar way:

In [40]:
idx1 = pd.Index([1, 2, 3, 4])
idx2 = pd.Index([3, 4, 5, 6])
idx1.union(idx2) # matching type union

Int64Index([1, 2, 3, 4, 5, 6], dtype='int64')

In [41]:
idx1 = pd.Index(['a', 'b', 'c', 'd'])
idx2 = pd.Index([1, 2, 3, 4])
idx1.union(idx2) # mismatching type union

Index(['a', 'b', 'c', 'd', 1, 2, 3, 4], dtype='object')

In [43]:
idx1 = pd.Index([1, 2, 3, 4])
idx2 = pd.Index([3, 4, 5, 6])
idx1.intersection(idx2) # intersection

Int64Index([3, 4], dtype='int64')

In [44]:
idx1 = pd.Index([1, 2, 3, 4])
idx2 = pd.Index([2, 3, 4, 5])
idx1.symmetric_difference(idx2) # symmetric difference

Int64Index([1, 5], dtype='int64')