## Assignment Preparation

### `for` loops

Loops in Python are a way to repeatedly execute some code statement. So, for example, if we'd like to print each of the items in a list, we can use a `for` loop:

In [19]:
for N in [2, 3, 5, 7]:
    print(N, end=' ') # print all on the same line

2 3 5 7

Notice the simplicity of the `for` loop: we specify the variable we want to use, the sequence we want to loop over, and use the "`in`" operator to link them together in an intuitive and readable way. More precisely, the object to the right of the "`in`" can be any Python *iterator*. An iterator can be thought of as a generalized sequence.

### Conditional Statements: `if`-`elif`-`else`

Conditional statements, often referred to as *if-then* statements, allow the programmer to execute certain pieces of code depending on some boolean condition. A basic example of a Python conditional statement is this:

In [27]:
x = input()
x = int(x)

if x == 0:
    print(x, "is zero")
elif x > 0:
    print(x, "is positive")
elif x < 0:
    print(x, "is negative")
else:
    print(x, "is unlike anything I've ever seen...")

-3
-3 is negative

Note especially the use of colons (`:`) and whitespace to denote separate blocks of code.

Python adopts the `if` and `else` often used in other languages; its more unique keyword is `elif`, a contraction of "else if". In these conditional clauses, `elif` and `else` blocks are optional; additionally, you can optionally include as few or as many `elif` statements as you would like.

### Defining Functions

One way to organize our Python code and to make it more readable and reusable is to factor-out useful pieces into reusable *functions*. In Python, functions are defined with the `def` statement. For example, we can encapsulate the Fibonacci sequence as follows:

In [34]:
def fibonacci(N):
    L = []
    a, b = 0, 1
    while len(L) < N:
        a, b = b, a + b
        L.append(a)
    return L

Now we have a function name `fibonacci` which takes a single argument `N`, does something with this argument, and `return`s a value; in this case, a list of the first `N` Fibonacci numbers:

In [35]:
fibonacci(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

There is no type information associated with the function inputs or outputs. Python functions can return any Python object, simple or compound, which means constructs that may be difficult in other languages are straightforward in Python.

For example, multiple return values are simply put in a tuple, which is indicated by commas:

In [36]:
def real_imag_conj(val):
    return val.real, val.imag, val.conjugate()

In [4]:
r, i, c = real_imag_conj(3 + 4j)
print(r, i, c)

3.0 4.0 (3-4j)

### The `math` module

Python has a built-in module that you can use for mathematical tasks with a set of methods and constants. To utilize the `math` module in your script:

In [37]:
import math

The method that is most important for you to know is `math.sqrt()`, which returns the square root of a number.

Example:

In [38]:
math.sqrt(4)

2.0

### `split()`

The `split()` method splits a string into a list. You can specify the separator, but the default is any whitespace.

Syntax: `string.split(separator, maxsplit)`

Parameter values:

1. `separator` - specifies the separator to use when splitting the string. Default value: any whitespace
2. `maxsplit` - specifies how many splits to do. Default value: -1, all occurrences

Example:

In [45]:
txt = "hello, my name is Erin, I am 23 years old"
x = txt.split(", ")
print(x)

['hello', 'my name is Erin', 'I am 23 years old']

### `map()`

The `map()` function executes a specified function for each item in an iterable. The item is sent to the function as a parameter.

Syntax: `map(function, iterable)`

Parameter values:

1. `function` - the function to execute for each item
2. `iterable` - a sequence, collection, or an iterator object

Example:

In [7]:
x = [1, 2, 3]
y = map(float, x)
print(y)

<map object at 0x7f816893e460>

### `list()`

The `list()` function creates a list object. A list object, as we know, is a collection which is ordered and changeable. 

Syntax: `list(iterable)`

Parameter values: `iterable` - a sequence, collection, or an iterator object

Example:

In [9]:
z = list(('apple', 'banana', 'cherry'))
print(z)

['apple', 'banana', 'cherry']

In [10]:
y = list(y)
print(y)

[1.0, 2.0, 3.0]

### `remove()`

The `remove()` method removes the first occurrence of the element with the specified value.

Syntax: `list.remove(elmnt)`

Parameter values: `elmnt` - any type (string, number, list, etc), the element you want to remove

Example:

In [16]:
fruits = ['apple', 'banana', 'cherry']
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

### `tuple()`

The `tuple()` function creates a tuple object. As we know, you cannot change or remove items in a tuple.

Syntax: `tuple(iterable)`

Parameter values: `iterable` - a sequence, collection, or an iterator object

Example:

In [11]:
a = tuple(['apple', 'banana', 'cherry'])
print(a)

('apple', 'banana', 'cherry')

In [12]:
y = tuple(y)
print(y)

(1.0, 2.0, 3.0)

### `values()`

The `values()` method returns a view object. The view object contains the values of the dictionary as a list. The view object will reflect any changes done to the dictionary.

Syntax: `dictionary.values()`

Parameter values: no parameters

Example:

In [47]:
car = {"brand":"Ford", "model":"Mustang", "year":1964}
x = car.values()
print(x)

dict_values(['Ford', 'Mustang', 1964])